body {
    background: none;
}
html {
    background-color: #151515;
    color: rgb(206, 171, 93);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}  